.Scrollbar-Track,
.Scrollbar-Handle {
    margin: 0;
    border: 0;
    padding: 0;
    border-radius: 8px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

.Scrollbar-Track {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.Scrollbar-Track:hover,
.Scrollbar-Trackhover {
    background-color: rgba(0, 0, 0, 0.15);
}

.Scrollbar-Handle {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.Scrollbar-Handle:hover ,
.Scrollbar-Handlehover {
    background-color: rgba(0, 0, 0, 0.5);
}
