
/*
$mg-inc = 3;
$mg-base = 20;
$fontsize-inc = 0.1em;
$fontsize-base = 1.6em;

h1, h2, h3, h4, h5, h6 {
	margin: 20px-10px;
	background-color: white;
	padding: 0px 10px 0px 10px;
	border-radius: 0.2em;
	box-shadow: 1px 2px 5px #9fb6cd
	opacity: 0.95;
	background-color:  #F3F3F3;		
}

h1 {
	font-size: $fontsize-base - $fontsize-inc * 1;
	margin-left: ($mg-inc * 1 - $mg-base)px;
}
h2 {
	font-size: $fontsize-base - $fontsize-inc * 2;
	margin-left: ($mg-inc * 2 - $mg-base)px;
}
h3 {
	font-size: $fontsize-base - $fontsize-inc * 3;
	margin-left: ($mg-inc * 3 - $mg-base)px;
}
h4 {
	font-size: $fontsize-base - $fontsize-inc * 4;
	margin-left: ($mg-inc * 4 - $mg-base)px;
}
h5 {
	font-size: $fontsize-base - $fontsize-inc * 5;
	margin-left: ($mg-inc * 5 - $mg-base)px;
}
h6 {
	font-size: $fontsize-base - $fontsize-inc * 6;
	margin-left: ($mg-inc * 6 - $mg-base)px;
}
*/

.posts-expand .post-body h2,
.posts-expand .post-body h3,
.posts-expand .post-body h4,
.posts-expand .post-body h5,
.posts-expand .post-body h6 {
	padding-top: 0px;
	//&::before {
	//	content: "";
	//	color: #DDD;
	//	font-size: 1em;
	//	font-weight: bold;
	//	font-family: SimHei,"黑体";
	//	padding: 0 4px 0 0;
	//}
}
/*
.post-header .post-title {
	//font-size: $fontsize-base;
	margin-top: ($mg-inc)px
	margin-right: -($mg-base)px;
	margin-bottom: ($mg-inc)px
	margin-left: -($mg-base)px;
	background-color:  #B9D3EE;
	border-radius: 0.3em;
	line-height: 1em
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 1em;
	box-shadow: 1px 2px 7px  #9fb6cd;
	&::before {
		content: "";
		padding: 0;
	}
}

.posts-collapse .post-title {
	margin-left: 60px; //!important的样式属性不被覆盖。
	margin-right: 0px;
	&::before {
		content: "";
		padding: 0;
	}
}*/

/*
.posts-expand .post-title {
padding-top: 0.8em;
padding-bottom: 0.8em;
}*/
