//label 带有背景色样式

.label {
display: inline;
padding: 0.2em 0.4em 0.2em 0.4em
font-size: 75%;
font-weight: bold;
line-height: 1;
color: #ffffff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .2em;
}

.label-info {
background-color: #9954bb;
}

.label-primary {
background-color: #587AA0;
}

.label-success {
background-color: #3fb618;
}

.label-warning {
background-color: #ff7518;
}

.label-danger {
background-color: #ff0039;
}