.blockquote-list {
  margin: 2em 0 0;
  padding: 0.5em 1em;
  border: 1px solid #e0f1e9;
  border-radius: 0.5em 1em 1em 0.5em;
  background-color: #f1f9f7;
  border-left-width: 3px;
  border-left-color: #00D691;
  color: #1d9d74;
  font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif, FontAwesome;
}

// .blockquote-list:before {
//   content: "\f260   参考资料  \f260";
//   display: block;
//   text-align: center;  
//   -webkit-font-smoothing: antialiased;
// }

.post-body .blockquote-list ul {
  -webkit-margin-start: .5em;
  -webkit-padding-start: 0;
  li {
    list-style-type: none;
    &:before{
      content: "\f0c1";
      padding-right: 2px;
    }
  }
}


